{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron text-center">
            <h3>Test api (PunkAPI)</h3>
            <p>Free test API</p>
        </div>

        <div class="row">
            <div class="col-md-12 white-box">
                <div class="col-md-8 m-auto">
                    {{ dump(content) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
